[Desktop Entry]
Encoding=UTF-8
Name=Link to CS 15-458/858: Discrete Differential Geometry – CARNEGIE MELLON UNIVERSITY | SPRING 2019 | TUE/THU 12:00-1:20 | GHC 4303
Type=Link
URL=http://brickisland.net/DDGSpring2019/
Icon=text-html
